.block_comments {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.block_comments li {
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px;
}

.block_comments li p {
    word-wrap: break-word;
}



.selectedPage {
    font-weight: bold;
}

.itemPage:hover {
    cursor: pointer;
}

.buttonsBlock {
    width: 25%;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}
.disable {
    display: none;
}
.active {
    display: block;
}
